* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url('../imagens/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
}

#telefone {
    width: 311px;
    height: 627px;
    background: url('../imagens/frame-iphone.png') no-repeat;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    width: 267px;
    height: 471px;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#redes-sociais {
    text-align: right;
}

#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
    box-sizing: border-box;
}

#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.705);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    transition: transform .3s, border .4s;
}